/* @media screen and (max-width: 766px) {
    nav a.navbar-brand{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      height: 20px;
    }
  } */

  #hc_container{
    height: 85vh;
  }