/* #features {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    overflow: auto;
    background: rgba(255, 255, 255, 0.8);
    } */

.navbar-logo img {
    height: 40px;
    /* put value of image height as your need */
    float: left;
    margin-right: 7px;
}
      